/* room booking table */
.container-table {
    margin-top: 100px; /* Reduced margin-top */
}

#photo {
    border-radius: 25px; /* Reduced border-radius */
    height: 250px; /* Reduced height */
    width: 100%;
}


.custom-confirm-button {
    background-color: #65fe08 !important;
    border-color: #65fe08 !important; 
}
#bgcolor1 {
    background-color: #2f80ca;
}

.table th {
    background-color: #121835;
    color: white;
    padding: 5px;
}

th {
    color: white;
    border: 3px solid white;
}

.table td {
    color: white;
    padding: 10px;
}

td {
    border: 3px solid white;
    padding: 5px; /* Reduced padding */
}

#color1 {
    background-color: #2f80ca;
       color: white;
 
}
#colorFree {
    background-color: #a8f4c4;
    color: #247203;
}
#colorFree:hover {
    background-color: #02f95d;
    color: #154600;
}
#colorReserved {
    background-color: #f4eaa9;
       color: #969302;
 
}
#colorPending {
    background-color: #f4a8b3;
       color: #720324;
 
}
#colorDisabled {
    background-color: #9eabb1;
       color: #54646c;
    }

.row-content {
    margin-bottom: 10px; /* Reduced margin-bottom */
}
.custom-btn {
    background-color: #284461;
    border-color: #284461;
    color: #a6e21f;
}
.custom-btn:hover {
    background-color: #284461;
    border-color: #284461;
    color: #64e48e; 
}
.custom-btn:active {
    background-color: #284461 !important;
    border-color: #284461 !important;
    color: #64e48e !important; 
}

.btn-container {
    display: flex;
    justify-content: space-between;
}
#bgcolor2 {
    background-color: #284461;
}

.bi-plus-circle-fill {
    font-size: 25px; 
}
.swal2-container {
    background-color: rgba(0, 0, 0, 0.7) !important; 
}
.custom-title {
    font-family: 'Mogra', sans-serif;
    color: #F5BF03;
}

.clickable:hover {
    cursor: pointer;
}

.modal-content button.btn {
    border-radius: 10px;
  }

  .modal-body input.btn {
    border-radius: 10px;
    background-color: white;
  }

  .modal-content {
    background-image: linear-gradient(135deg, #504cff42, #58d0ff7d);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: none;
    /* Remove border */

  }

  .modal-dialog {
    border: none;

  }


  header {
    background-color: white;
  }


  nav a:hover {
    display: inline-block !important;
    padding: 10px 20px !important;
    color: rgb(19, 175, 240) !important;
    text-transform: capitalize;
    font-weight: 500 !important;
    letter-spacing: 0.3px !important;
    transition: all .01s;

  }

  #mynavbar {

    font-size: 15px;
    font-weight: 400 !important;

  }

  button {

    border: none;
    outline: none;
    background-color: #fff;
  }

  .gradient-button-login a {
    display: inline-block !important;
    padding: 0px 20px !important;
    color: #fff !important;
    text-transform: capitalize;
    font-size: 15px;
    background: rgb(19, 175, 240);
    background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
    outline: none;
    border: none;
    border-radius: 23px;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
    transition: all .5s;
  }

  .gradient-button-login a:hover {
    color: #fff !important;
    background: rgb(19, 175, 240);
    background: linear-gradient(105deg, rgba(91, 104, 235, 1) 0%, rgba(40, 225, 253, 1) 100%);
  }

  .gradient-button-logout {
    display: inline-block !important;
    color: #fff !important;
    text-transform: capitalize;
    font-size: 15px;
    background: #DE2020;
    /* Background color fallback */
    background: linear-gradient(105deg, #DE2020 0%, #6155E7 100%);
    outline: none;
    border: none;
    border-radius: 23px;
    font-weight: 500 !important;
    letter-spacing: 0.5px !important;
    transition: all .5s;
    width: 155.61px;
    height: 40px;
  }

  .gradient-button-logout:hover {
    color: #fff !important;
    background: #DE2020;
    /* Background color fallback */
    background: linear-gradient(105deg, #DE2020 0%, #6155E7 100%);
  }
  .btn-close {
    display: flex;

    align-items: center;
    background-color: red;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10%;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
  }

  .input-btn {
    color: black;
  }


  #video-background {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }






  /* _______________________________ Room Booking Main Page______________________________ */
  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: white; /* Fallback color */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-top {
  display: flex;
  gap: 0px;
  max-width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
  border-radius: 10px;
}
.container-bottom {
  display: flex;
  gap: 40px; /* Reduced the gap */
  max-width: 100%;
  overflow-x: auto; /* Enable horizontal scrolling if needed */
}

/* Two columns with different colors */
.left-column,
.right-column {
  flex: 1;
  border-radius: 0px;
  overflow: hidden;
  padding: 20px; /* Reduced padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff; /* Text color */
  position: relative; /* Position for absolute image */
}

.left-column {
  background: linear-gradient(to bottom right, #4400ff, #279eff); 
}

.right-column {
  background: linear-gradient(to bottom right, #4400ff, #279eff); 
}

.column {
  flex: 1;
  border-radius: 8px;
  overflow: hidden;
  padding: 30px; /* Reduced padding */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #fff; /* Text color */
  position: relative; /* Position for absolute image */
  max-width: 50%;
}

.column .main-img {
  position: absolute;
  top: 10px;
  left: 20px;
  max-width: 50px; /* Reduced image size */
  border-radius: 8px;
}

.column h2 {
  margin-top: 10px;
  font-size: 20px; /* Reduced font size */
  text-align: center;
}

.column p {
  margin-top: 10px;
  font-size: 16px; /* Reduced font size */
  line-height: 1.5;
  text-align: center;
}

/* Different gradient backgrounds for each column */
.column:nth-child(1) {
  background: linear-gradient(to bottom right, #ff7e5f, #feb47b);
  border-top-right-radius: 20px; /* Reduced border radius */
}

.column:nth-child(2) {
  background: linear-gradient(to bottom right, #4caf50, #2196f3);
  border-top-right-radius: 20px; /* Reduced border radius */
}

.column:nth-child(3) {
  background: linear-gradient(to bottom right, #e91e63, #9c27b0);
  border-top-right-radius: 20px; /* Reduced border radius */
}

/* Style for the info link container */
.info-link-container {
  text-align: right; /* Align content to the right */
  margin-top: 20px;
  margin-bottom: 20px;
}

.info-link-container img {
  max-width: 30px;
  vertical-align: middle;
}

.info-link-container a {
  margin-left: 5px;
  vertical-align: middle;
  color: #0DCAF0;
  text-decoration: none;
  font-weight: bold;
}

.info-link-container .moreinfo:hover {
  color: rgb(255, 0, 0);

}

/* Style for clickable columns */
.clickable-column {
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.edit-icon-btn {
  background-color: rgb(255, 234, 0);
  color:#000000;
  padding: 10px 20px; /* Reduced padding */
  margin: 0px;
  line-height: 1; /* Added line-height */
}

.edit-icon-btn:hover {
  background-color: #4400ff;
  color: white;
}



.edit-icon-btn svg {
  width: 30px; /* Reduced icon size */
  height: 30px; /* Reduced icon size */
  margin-bottom: 5px; /* Adjusted margin */
}

.announcement{
  margin: 150px; 
 
}

.announcement .icon{
  width: 100px;
}


/*_____________________Dashboard______________ */


/* for dashbord */
#btn1 {
  background-color: blue;
  color: white;
}
#btn2 {
  background-color: rgb(177, 177, 242);
  color: white;
}
#btn3 {
  background-color: blue;
  color: white;
}
#btn4 {
  background-color: rgb(177, 177, 242);
  color: white;
}
#footer1{
  background-color: rgb(53, 117, 236);
  padding: 20px;
  bottom: 0;
  width: 100%;
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
}
#footer2{
  padding-top: 15px;
  background-color: rgb(49, 58, 158);
  bottom: 0;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.sub {
  display: flex;
} 

.subtitle {
  flex: 1;
  text-align: center;
  padding: 10px;
  border: 1px rgb(53, 117, 236);
}

#logout {
  width: 370px;
  background: rgba(80, 45, 184, 0.701);
  color: black;
  border-radius: 10px;
  padding: 30px 40px;
  padding-top: 20px;
  justify-content: center;
}
#btn5{
  text-align: center;
  background-color: rgb(175, 64, 83);
  border-radius: 10%;
}
#btn6{
  text-align: center;
  background-color: green;   
   border-radius: 10%;
}

#totalslots {
  background: linear-gradient(to bottom, #ff7bfb, #ffffff);
  text-align: center;
  font-size: xx-large;
  font-style: normal;
  padding: 35px;
  border-radius: 15%;
}
#free{
  background: linear-gradient(to bottom, #82ff7b, #ffffff);
  text-align: center;
  font-size: xx-large;
  font-style: normal;
  padding: 35px;
  border-radius: 15%;
}
#reserve {
  background: linear-gradient(to bottom, #ee1616, #ffffff);
  text-align: center;
  font-size: xx-large;
  font-style: normal;
  padding: 35px;
  border-radius: 15%;
}

#firstrow{
  justify-content: center;
}
#secrow{
  justify-content: center;
}

#pending {
  background: linear-gradient(to bottom, #e1ff37, #ffffff);
  text-align: center;
  font-size: xx-large;
  font-style: normal;
  padding: 35px;
  border-radius: 15%;
}
#disable {
  background: linear-gradient(to bottom, #979797, #ffffff);
  text-align: center;
  font-size: xx-large;
  font-style: normal;
  padding: 35px;
  border-radius: 15%;
}
#img1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
}
#text {
  width: 500px;
  color: white;
  border-radius: 10px;
  padding: 30px 40px;
  padding-top: 20px;
}
#social {
  justify-content: center;
  text-align: center;
  padding: 1.5%;
}
svg{
 margin: 5px 5px 5px 5px; 
}



/* _______________________ Room Booking______________________ */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}
.container-room-booking {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin-top: 100px;
  flex-direction: row;
}

.image-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-section img {
  border-radius: 5px;
  max-width: 400px;
  height: auto;
  margin: 30px 0px 0px 40px;
}

.form-section {
  flex: 1;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.form-section form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    max-height: 600px; /* Adjust form height */
    background-image: linear-gradient(to bottom right, #27cdffa2, #262efc75); /* Gradient background color */
}
.form-section label {
    font-weight: bold;
    margin-bottom: 5px;
}
.form-section input[type="text"],
.form-section select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.form-section button {
    background-color: #4845D2;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-section button:hover {
    background-color: #00ff11d6;
    color: green;
}
.form-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px; /* Adjust margin between form groups */
}
.form-group label {
    width: 100px;
    margin-right: 10px;
    text-align: right; /* Align labels to the right */
}
.form-padding-layout{
    padding-bottom: 50px;
}

/* Media query for smaller screens */
@media (max-width: 900px) {
  .container-room-booking {
      flex-direction: column;
      align-items: center;
  }
  .image-section, .form-section {
      width: 100%;
  }
  .image-section img {
      max-width: 100%;
  }
}
/* ___________________________________________________________ */


